* {
  margin: 0;
  padding: 0;
  font: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf4f4;
}
